body {
    margin: 0;
}

.mdl-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#newListItem {
    padding: .5em;
}

#newListItem:focus {
    outline: none;
}

.demo-list-control {
    width: 300px;
}

#list-container {
    width: 50%;
    margin: 0 auto;
}

.mdl-list__item {
    font-size: 1.3em;
}