body {
    margin: 0;
}

.list-name {
    width: 100%;
    margin-top: 1em;
}

.add-list-popup {
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 2em;
    width: 2em;
    height: 2em;
}

.inner-add-popup {
    margin-top: -.2em;
}

.row {
    display: flex;
}

.trashcan {
    padding-right: 1em;
    color: red;
}

.myinput {
    padding: .25em;
    outline: none;
    border: 1px solid #dadfea;
    border-radius: 3px;
    margin-right: 1em;
    width: 60vw;
}

.input-container {
    height: 5em;
}