body {
    margin: 0;
}

.list-name {
    width: 100%;
    margin-top: 1em;
}

.list-content-container {
    display: flex;
    width: 100%;
}

.list-trash {
    transform: translateX(-20vw) translateY(25%);
    position: absolute;
    right: 0;
}

.list-trash:hover {
    color: #ff9999;
}

.add-list-popup {
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 2em;
    width: 2em;
    height: 2em;
}

.inner-add-popup {
    margin-top: -.2em;
}

.row {
    display: flex;
}

.trashcan {
    padding-right: 1em;
    color: #16A2B8;
}

.trashcan:hover {
    color:#ff4d4d;
}

.myinput {
    padding: .25em;
    outline: none;
    border: 1px solid #dadfea;
    border-radius: 3px;
    margin-right: 1em;
    width: 65vw;
}

.input-container {
    height: 5em;
}

.addListInput {
    width: 100%;
    outline: none;
    border: 1px solid #dadfea;
    padding: .25em;
    border-radius: 3px;
}

.item-checkbox {
    margin-right: 1em;
}

.add-item {
    margin-right: 1em;
}

.edit {
    margin-right: 1em;
    color: #16A2B8;
}

.edit:hover {
    color: #00cc44;
}

.edit-item-input {
    padding: .25em;
    outline: none;
    border: 1px solid #dadfea;
    border-radius: 3px;
    margin-right: 1em;
    width: 68vw;
}

@media only screen and (max-width: 750px) {
    .myinput {
        width: 39vw;
    }
    .edit-item-input {
        width: 39vw;
    }
}